@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400&display=swap');

h1{
    color: var(--secondary-dark);
    font-size: 35px;
    line-height: 42px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif; /* Poppins instead of Gilroy */
}

p{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    color: var(--secondary-dark);
}
